@media (max-width: 768px) {

	/* POPUP WINDOW VERTICAL */

	#popupwindow_vertical {

		background: #D5BF55;
		float: left;
		width: 90%;

		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;

		margin-left: 4%;
		padding-right: 7px;


		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		color: white;
	}


	#popupwindow_vertical>ul {
		width: 100%;
	}


	#popupwindow_vertical * {}


	#popupwindow_vertical .popup_window_title {
		padding-left: 20px;

		font-size: 16px;
		font-weight: 700px;
		font-family: "Archivo Narrow", sans-serif;
		color: white;
		text-transform: uppercase;
	}


	#popupwindow_vertical .popup_window_title>h3 {
		color: white;
	}


	#popupwindow_vertical .popup_aboutus {
		display: block;
		width: auto;

		padding-bottom: 10px;
		padding-left: 20px;
	}


	#popupwindow_vertical .popup_aboutus_pic {
		display: block;
		float: left;
		padding-right: 10px;
		width: auto;
	}


	#popupwindow_vertical .popup_aboutus_text {
		float: none;
		display: flex;
		min-width: 240px;
	}


	#popupwindow_vertical .popup_border {
		position: relative;
		float: none;

		background: white;
		height: 2px;
		display: block;

		margin-top: 30px;
		margin-bottom: 0px;
		margin-left: 20px;
		margin-right: 10px;

		width: auto;
	}


	#popupwindow_vertical .popup_news {
		display: block;
		float: none;
		height: auto;
		width: auto;
		margin-left: 20px;
		margin-top: 35px;
	}


	#popupwindow_vertical .popup_news h3 {
		font-size: 18px;
		font-weight: 700px;

		font-family: "Archivo Narrow", sans-serif;
		color: white;
		margin-top: 0;
		padding-top: 10px;
		text-transform: uppercase;
	}


	#popupwindow_vertical .popup_news_module {
		width: 100%;
	}


	#popupwindow_vertical .popup_news_module_pic {
		display: block;
		height: 66px;
		width: auto;
		float: left;
		padding-right: 10px;
	}


	#popupwindow_vertical .popup_news_module_text_group {
		display: inline-block;
		height: 60px;
	}


	#popupwindow_vertical .popup_news_caption>span {
		color: white;
		font-size: 14px;
		font-weight: bold;
	}


	#popupwindow_vertical .popup_news_shorttext {
		font-size: 12px;
		line-height: 18px;
	}


	#popupwindow_vertical .popup_categories {
		position: relative;
		float: left;
		display: block;
		margin-top: 20px;
		margin-left: 20px;
		width: 100%;
	}


	#popupwindow_vertical .popup_categories h3 {
		font-size: 18px;
		font-weight: 700px;
		font-family: "Archivo Narrow", sans-serif;
		color: white;
		margin-top: 0;
		margin-left: 0px;
		padding-top: 10px;

		text-transform: uppercase;
	}


	#popupwindow_vertical .popup_categories a {
		padding: 0px;
		background: none;
		width: auto;
		border-radius: 0px;
	}


	#popupwindow_vertical .popup_categories>ul {
		display: block;
		text-align: left;
		margin-left: -30px;
		margin-top: -20px;
		list-style-position: outside;
	}


	#popupwindow_vertical .popup_categories>ul>li {
		float: left;
		width: auto;

		display: list-item;
		color: white;
		list-style-type: disc;
		background: none;
		width: 100%;
		padding-top: 10px;
		font-size: 12px;
	}


	#popupwindow_vertical .popup_categories>ul>li>a:link {
		color: white;
	}


	#popupwindow_vertical .popup_categories>ul>li>a:visited {
		color: white;
	}


	#popupwindow_vertical .popup_categories>ul>li>a:hover {
		color: black;
		background: none;
	}



	#popupwindow_vertical .mod-login_submit {
		margin-left: 170px;
		margin-top: -55px;
	}

	/* POPUP LOGIN FORM */
	#popupwindow_vertical .popup_auth {
		position: relative;
		float: left;
		display: block;

		padding-top: 15px;
		padding-bottom: 30px;
		padding-left: 20px;

		width: auto;
		height: auto;

		text-align: left;
	}


	#popupwindow_vertical .popup_auth h3 {
		font-size: 18px;
		font-weight: 700px;
		color: white;
		font-family: "Archivo Narrow", sans-serif;
		margin-top: 0;

		padding-top: 5px;

		text-transform: uppercase;
		padding-bottom: 10px;
	}


	#popupwindow_vertical .popup_auth_pic {
		float: none;
		position: relative;
		text-align: left;
		padding-left: 0px;
	}


	#popupwindow_vertical .popup_auth_form {
		float: left;
		display: block;
		width: 100%;
	}


	#popupwindow_vertical .popup-login-field {
		display: block;

		width: 100%;
		padding-bottom: 7px;
		margin-top: -25px;
		color: white;


	}


	#popupwindow_vertical #username_tooltip {
		display: block;
		float: left;
		width: auto;
	}


	#popupwindow_vertical .popup-login-field i {
		padding-top: 6px;
		background: white;
		color: #2CB9A8;

		height: 19px;
		width: 27px;

		font-size: 14px;
		text-align: center;
	}



	#popupwindow_vertical .popup-login-field>input[type="text"] {
		display: block;
		height: 25px;
		width: 180px;

		background: none;
		color: white;

		font-family: "Archivo Narrow", sans-serif;
		font-size: 12px;
		font-weight: 400px;

		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		border-color: white;

		padding-left: 5px;
		margin-left: -5px;
	}


	#popupwindow_vertical .popup-password-field {
		display: block;
		width: 100%;
	}


	#popupwindow_vertical #password_tooltip {
		display: block;
		float: left;
		width: auto;
	}


	#popupwindow_vertical .popup-password-field i {
		padding-top: 5px;
		background: white;
		color: #2CB9A8;

		height: 19px;
		width: 27px;

		font-size: 14px;
		text-align: center;
	}


	#popupwindow_vertical .popup-password-field>input[type="password"] {
		height: 24px;
		width: 180px;
		background: none;
		color: white;

		border-style: solid;
		border-width: 1px;
		border-radius: 0px;
		border-color: white;

		padding-left: 5px;
		margin-left: -5px;
	}



	#popupwindow_vertical .popup-submit-button {
		display: inline-block;
		float: none;
		position: absolute;
		border-radius: 22px;

		width: 44px;
		height: 44px;

		border-style: solid;
		border-color: white;
		border-width: 2px;
		margin-top: -50px;
		margin-left: 185px;
		background: #D5BF55;
	}


	#popupwindow_vertical .popup-submit-button>i {
		color: white;
		z-index: 10;
	}


	#popupwindow_vertical .popup-submit-button {
		border-color: white;
		background: #D5BF55;
	}


	#popupwindow_vertical .popup_checkbox {
		display: block;
		float: left;

		margin-top: 10px;

		margin-left: 0px;
		margin-bottom: 10px;

		width: 100%;
		height: 30px;
	}


	#popupwindow_vertical .popup-checkbox-label {
		display: block;
		float: left;

		margin-left: 20px;
		font-size: 12px;
		color: white;

		width: 50%;
	}

	#popupwindow_vertical .popup-checkbox-rememberMe {
		display: block;
		position: absolute;
		margin-top: 0px;
		margin-left: 0px;
		width: auto;
	}


	#popupwindow_vertical .popup_register_btn {
		background: #252E2D;
		color: white;
		padding: 10px 10px;
		font-weight: bold;

		border-radius: 6px;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;

		text-align: center;
		margin-top: 40px;
	}


	#popupwindow_vertical .popup_register_btn:hover {
		background: white !important;
		color: black !important;
	}


	#popupwindow_vertical .tooltip {
		margin-left: -27px !important;
	}


	/* ********************** FOOTER BEGIN ******************** */
}