a {
	/* button settup */
	padding: 15px 30px;

	color: white;
	background: #273440;

	border-radius: 6px;

	text-decoration: none;
	text-transform: uppercase;
	font-family: "Archivo Narrow", sans-serif;
	font-size: 14px;
}


a:hover {
	background: #2CB9A8;
}