body{
overflow-x:none;
margin:0;
padding:0;
}


.showcase-container{
/* button positioning settup - not necessary part */
display:block;
float:left;

background:rgba(0,0,255,0.5);
width:30%;

margin-top:3%;
margin-left:30%;
margin-right:30%;

padding:20px; 10px;
}
