.inputfield-selected{
/*
  -webkit-box-shadow:  rgba(82, 168, 236, 0.8)!important;
  -moz-box-shadow:  rgba(82, 168, 236, 0.8)!important;
  */
  box-shadow:  0 0 10px -1px rgba(82, 168, 236, 0.8);
  border-color:rgb(82, 168, 236);
  background-color:white;
}


.inputfield-unselected{
	  box-shadow: none;
  border-color:#CCCCCC;
  background-color:white;
  font-weight:normal;


}


.inputfield-unselected-error{
  border-color:#9D261D;
  
  background-color:white;
  font-weight:bold;

  box-shadow: none;
}



.error-label{
    color:#9D261D;
    font-weight: bold !important;
}

.inputfield-unselected-contacts-error{
  border-color:rgba(198, 0, 0, 0.5);
  
  background-color:white;
  font-weight:bold;

 box-shadow:  0 0 10px -1px rgba(198, 0, 0, 0.5);
}